<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Portfolio</title>
</head>
<body>
    <div class="conteiner">
        <h1>Привет, добро пожаловать в мое портфолио!</h1>

        <p>Добро пожаловать на мой персональный сайт! Я профессиональный программист Python и моя цель заключается в создании высококачественного программного обеспечения, которое помогает людям решать реальные проблемы.</p>
    

        <h2>Полезные ссылки</h2>
        <a href="https://skysmart.ru">Скайсмарт</a>

    </div>

    
</body>
</html>